<div class="btn-group">
  <button class="btn btn-warning" ng-click="calendar.view('year')">Year</button>
  <button class="btn btn-warning" ng-click="calendar.view('month')">Month</button>
  <button class="btn btn-warning" ng-click="calendar.view('week')">Week</button>
  <button class="btn btn-warning" ng-click="calendar.view('day')">Day</button>
</div>
<div class="pull-right btn-group">
  <button class="btn btn-warning" ng-click="calendar.navigate('prev')">Back</button>
  <button class="btn btn-warning" ng-click="calendar.navigate('today')">Today</button>
  <button class="btn btn-warning" ng-click="calendar.navigate('next')">Next</button>
</div>
<hr>
<div id="calendar"></div>
