<div ng-show="!dataLoaded" class="text-center">
  <i class="fa fa-spin fa-cog fa-3x"></i>
</div>
<div ng-show="dataLoaded">
  <h2>{{data.description}}</h2>

  <p><b>Start Date</b>: {{startDateFN}} ({{startDate}})</p>
  <p><b>Fine</b>: {{endDateFN}} ({{endDate}})</p>

  <button class="btn btn-danger" ng-click="delete()" ng-disabled="!canEdit">
    <i class="fa fa-ban"></i> Delete</button>
  <button class="btn btn-primary" ng-click="editing = !editing" ng-disabled="!canEdit">
    <i class="fa fa-edit"></i> {{editing? "Close Editor" : "Edit"}}</button>
</div>
<div id="insert-ui" class="text-center" ng-show="canEdit && editing">
  <hr>
  <div class="row">
    <h3>Edit "{{data.description}}"</h3>
    <input type="text" id="desc" placeholder="Description" class="form-control" ng-model="desc" />
    <button type="button" id="insert-btn" class="btn btn-primary btn-sm" ng-click="edit()">
      <i class="fa fa-edit"></i> Save
    </button>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="text-center"><h3>Start moment</h3></div>
      <div class="datetime" id="start"></div>
    </div>
    <div class="separator col-md-2"></div>
    <div class="col-md-5">
      <div class="text-center"><h3>End moment</h3></div>
      <div class="datetime" id="end"></div>
    </div>
  </div>
</div>
