h1 a {
  color: #333;
}

h1 a:hover {
  color: #333;
  text-decoration: none;
}

h2 { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 2em; }

.navbar {
  margin-top: .25em;
  margin-right: .1em;
  font-size: 35px;
}

input {
  margin: 0.5em 0;
}

.datetime {
  max-width: 30em;
  margin: 0 auto;
}

#desc {
  display: inline-block;
  max-width: 20em;
}

#insert-btn {
  display: inline-block;
  margin-bottom: 3px;
}
